body {
    font-family: Arial ,Sans-Serif;
    color: white;
    background-color: black;
    padding: 0px;
    
}

.bg-img {
    width: 100vw;
    object-fit: cover;
    position: absolute;
    filter: blur(10px);
    filter: brightness(50%);
    z-index: -1000;
}

.topnav {
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 1% 3%;
    text-decoration: none;
    font-size: 12pt;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #fff;
    color: red;
}

.title #h {
    margin: 0px;
    text-align: center;
}
.title {
    margin-top: 1%;
    margin-bottom: 1%;
}

h1 {
    font-size: 36pt;
}
/*
.contributers {
	display: grid;
	grid-row: 5;
	grid-column: 2;
}

.contributer-card {
	border-style: solid;
	border-width: medium;
	border-color: #000000f0;
	border-radius: 2%;
	
	color: white;
	background-color: #303030f0;
}*/